body{
    background-color: rgba(148, 238, 129, 0.936);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(0, 0, 0)
}

img{
    height: 350px;
    padding: 3%;
}
h1{
    text-align: center;
}
